@charset "UTF-8";
#lightbox {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.6);
  z-index: 99999;
  display: none;
  opacity: 0;
  -webkit-transition: .3s;
  -o-transition: .3s;
  transition: .3s; }
  #lightbox.active {
    opacity: 1;
    -webkit-transition: .3s;
    -o-transition: .3s;
    transition: .3s; }
    #lightbox.active .iframe-wrapper iframe {
      opacity: 1; }
  #lightbox > * {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-align-content: center;
    -ms-flex-line-pack: center;
    align-content: center;
    height: 100%; }
  #lightbox .iframe-wrapper {
    width: 100%;
    padding-bottom: 56.25%;
    /* 16:9 */
    position: relative;
    -webkit-align-self: center;
    -ms-flex-item-align: center;
    align-self: center; }
    #lightbox .iframe-wrapper iframe {
      position: absolute;
      display: block;
      width: 100%;
      height: 100%;
      opacity: 0;
      -webkit-transition: .5s .5s;
      -o-transition: .5s .5s;
      transition: .5s .5s; }

* {
  margin: 0;
  padding: 0;
  list-style: none;
  -webkit-box-sizing: border-box;
  box-sizing: border-box; }

@font-face {
  font-family: Arista Pro Alternate;
  src: url("../path/Zetafonts - AristaProAlternate-ExtraLight.otf") format("opentype"); }

@font-face {
  font-family: Arista Pro;
  src: url("../path/Zetafonts - AristaPro-Fat.otf") format("opentype"); }

body,
html {
  font-size: 16px;
  font-family: Arista Pro Alternate, '微軟正黑體';
  letter-spacing: 1px;
  color: #fff;
  text-shadow: 0px 0px 1px rgba(0, 0, 0, 0.3); }

#wrap {
  position: relative;
  height: 100vh;
  overflow: hidden; }
  @media screen and (max-width: 768px) {
    #wrap {
      overflow: auto; } }
  #wrap.inner-page {
    height: auto; }
  #wrap.active {
    width: 100%;
    height: 100%;
    overflow: auto; }

p {
  font-size: 1rem;
  line-height: 200%;
  color: #fff;
  font-weight: 100; }

h2 {
  font-family: Arista Pro; }

h3 {
  color: #fff;
  font-size: 1.2rem; }

a {
  color: #fff;
  text-decoration: none; }
  a:visited {
    color: #ddd; }

.mt-3 {
  margin-top: 1rem; }

.mb-1 {
  margin-bottom: .5rem; }

.mb-3 {
  margin-bottom: 1rem; }

.mb-5 {
  margin-bottom: 1.5rem; }

.pb-3 {
  padding-bottom: 1rem; }

.pd-head {
  padding-top: 150px; }

.container {
  max-width: 1170px;
  padding: 0 15px;
  margin: 0 auto; }

.d-flex {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap; }

.box-shadow {
  -webkit-box-shadow: 0px 0px 30px 0 rgba(0, 0, 0, 0.6);
  box-shadow: 0px 0px 30px 0 rgba(0, 0, 0, 0.6); }

.section, .section2, .section3, .section4 {
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center; }

.img-fluid {
  width: 100%;
  height: auto;
  display: block; }

.align-left {
  text-align: left; }

.align-center {
  text-align: center;
  margin: 0 auto; }

.islander-row {
  font-size: 0; }
  .islander-row > * {
    vertical-align: top; }
  .islander-row .islander-4 {
    display: inline-block;
    width: calc(100% / 3 - 60px); }
    .islander-row .islander-4:nth-child(2n) {
      margin: 0 30px; }
  .islander-row .islander-6 {
    display: inline-block;
    width: calc(100% / 2 - 15px); }
    .islander-row .islander-6:nth-child(2n) {
      margin-left: 15px; }
  .islander-row .islander-5 {
    display: inline-block;
    width: calc(100% / 5 - 31px);
    margin: 0 15px; }
    .islander-row .islander-5 img {
      max-width: 80px;
      max-height: 80px;
      display: block;
      margin-bottom: 2rem; }

@media screen and (min-width: 769px) {
  .hidden-sm {
    display: none !important; } }

@media screen and (min-width: 300px) and (max-width: 768px) {
  .hidden-xs {
    display: none !important; } }

header {
  background: #fff;
  padding: 20px 20px 0;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 100; }
  @media screen and (min-width: 300px) and (max-width: 768px) {
    header {
      padding: 10px 20px; } }
  header .img-navbg {
    position: absolute;
    top: 60px;
    left: 0;
    width: 100%;
    z-index: 1; }
  header nav .toggle-buttom {
    margin-left: calc(100% - 82px); }
  header nav li {
    position: relative; }
    header nav li.active:before {
      content: '';
      display: inline-block;
      position: absolute;
      top: 5px;
      left: -20px;
      width: 1rem;
      height: 1rem;
      background: url("../img/coffeeIcon1.svg");
      background-repeat: no-repeat; }
  header ul {
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    position: relative;
    z-index: 2; }
    @media screen and (min-width: 300px) and (max-width: 768px) {
      header ul.toggle-menu {
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -webkit-flex-direction: column;
        -ms-flex-direction: column;
        flex-direction: column;
        display: none; }
        header ul.toggle-menu li {
          padding: 10px 0;
          text-align: center; } }
    header ul li {
      margin: 0 30px;
      color: #000;
      font-size: 20px; }
      header ul li:first-child {
        margin-right: auto; }
        @media screen and (min-width: 300px) and (max-width: 768px) {
          header ul li:first-child {
            margin: 0 auto; } }
      header ul li a {
        color: #000;
        text-decoration: none; }
        header ul li a:visited {
          color: #000; }

.phone-menu > div {
  display: inline-block;
  vertical-align: middle; }

.full-page {
  position: absolute;
  top: 0;
  left: 0;
  height: 600vh;
  width: 100%;
  overflow: hidden;
  -webkit-transition: -webkit-transform 1s ease;
  transition: -webkit-transform 1s ease;
  -o-transition: transform 1s ease;
  transition: transform 1s ease;
  transition: transform 1s ease, -webkit-transform 1s ease; }

.section {
  width: 100%;
  background-size: cover;
  background-position: 50% 50%;
  -webkit-transform: translateZ(0);
  transform: translateZ(0);
  height: 100%;
  min-height: 100vh; }
  .section > * {
    text-align: center; }
  .section > div {
    text-align: center; }
    .section > div h2 {
      font-weight: bold; }
    .section > div .more img {
      margin-top: 20vh;
      width: 150px; }

.section-scroll {
  height: calc(100% / 6); }

.section1 {
  position: relative;
  z-index: -1; }
  @media screen and (min-width: 300px) and (max-width: 768px) {
    .section1 {
      background: url("../img/section1.png"); } }
  .section1 .logo {
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate3d(-50%, -50%, 0);
    transform: translate3d(-50%, -50%, 0); }
    .section1 .logo img {
      width: 100%;
      max-width: 300px; }
  .section1 .iframe-wrapper {
    position: fixed;
    right: 0;
    bottom: 0;
    min-width: 100%;
    min-height: 100%;
    width: auto;
    height: auto;
    z-index: -100;
    display: block; }
    .section1 .iframe-wrapper .video-foreground {
      position: absolute;
      top: 0;
      left: -100%;
      width: 300%;
      height: 0;
      padding-top: 100%; }
      .section1 .iframe-wrapper .video-foreground:before {
        content: '';
        width: 100%;
        height: 100%;
        background-color: rgba(0, 0, 0, 0.3);
        display: block;
        position: absolute;
        top: 0;
        left: 0;
        z-index: 99; }
    .section1 .iframe-wrapper iframe {
      position: absolute;
      width: 100%;
      height: 100%;
      top: 0;
      left: 0;
      pointer-events: none; }
  .section1 .scorll-down {
    position: absolute;
    bottom: 45px;
    left: 50%;
    -webkit-transform: translateX(-50%);
    -ms-transform: translateX(-50%);
    transform: translateX(-50%); }
    .section1 .scorll-down > * {
      display: inline-block;
      vertical-align: middle; }
    .section1 .scorll-down h3 {
      -webkit-transform: translateY(-4px);
      -ms-transform: translateY(-4px);
      transform: translateY(-4px); }

.section2 {
  z-index: 2; }
  .section2 .more img {
    width: 150px; }

.section3 {
  z-index: 3; }

.section4 {
  z-index: 4; }
  .section4 .contact-form {
    padding: 20px 0;
    text-align: center;
    font-family: sans-serif;
    width: 100%;
    max-width: 460px; }
    .section4 .contact-form h2 {
      font-weight: bold; }
  .section4 form .form-group {
    margin: 15px 0;
    font-size: 0;
    -webkit-transform: translateX(-80px);
    -ms-transform: translateX(-80px);
    transform: translateX(-80px); }
    .section4 form .form-group > * {
      display: inline-block;
      vertical-align: middle; }
    .section4 form .form-group label {
      width: 150px;
      text-align: left;
      font-size: 1rem; }
    .section4 form .form-group input,
    .section4 form .form-group textarea {
      width: calc(100% - 160px);
      -webkit-appearance: none;
      -moz-appearance: none;
      appearance: none;
      background: rgba(255, 255, 255, 0.5);
      border: 2px solid #fff;
      border-radius: 1rem;
      font-size: 1rem;
      padding: 5px 20px;
      color: #3f3f3f; }
  .section4 form button {
    margin-top: 30px;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    border: 2px solid #fff;
    background-color: transparent;
    color: #fff;
    padding: 0px 15px;
    font-size: 1rem;
    border-radius: 2rem;
    pointer-events: cursor; }
    .section4 form button:hover, .section4 form button:active {
      background-color: #fff;
      color: #ccc;
      pointer-events: cursor; }

#scrollbar {
  position: fixed;
  right: 50px;
  top: 20%;
  height: 60%;
  width: 2px;
  background-color: #fff;
  display: none; }
  #scrollbar .dot {
    position: absolute;
    left: -9px;
    border: transparent solid 1px;
    width: 20px;
    height: 20px;
    background: rgba(255, 255, 255, 0.5);
    border-radius: 50%;
    -webkit-transform: scale(0.8);
    -ms-transform: scale(0.8);
    transform: scale(0.8);
    -webkit-transition: .5s;
    -o-transition: .5s;
    transition: .5s; }
    #scrollbar .dot:before {
      content: '';
      display: block;
      width: 10px;
      height: 10px;
      background: #fff;
      position: absolute;
      left: 4px;
      top: 4px;
      border-radius: 50%; }
    #scrollbar .dot:after {
      content: ' ';
      display: block;
      position: absolute;
      right: 30px;
      top: -10px;
      opacity: 0;
      -webkit-transition: .5s;
      -o-transition: .5s;
      transition: .5s; }
    #scrollbar .dot.active {
      border: #fff solid 1px;
      -webkit-transform: scale(1);
      -ms-transform: scale(1);
      transform: scale(1); }
  #scrollbar .dot1 {
    top: 30%; }
    #scrollbar .dot1.active:after {
      content: 'Islander';
      opacity: 1; }
  #scrollbar .dot2 {
    top: calc(30% + 60px); }
    #scrollbar .dot2.active:after {
      content: 'Story';
      opacity: 1; }
  #scrollbar .dot3 {
    top: calc(30% + 120px); }
    #scrollbar .dot3.active:after {
      content: 'Coffee Academy';
      opacity: 1; }
  #scrollbar .dot4 {
    top: calc(30% + 180px); }
    #scrollbar .dot4.active:after {
      content: 'Shop';
      opacity: 1; }
  #scrollbar .dot5 {
    top: calc(30% + 240px); }
    #scrollbar .dot5.active:after {
      content: 'Contact';
      opacity: 1; }

footer {
  position: fixed;
  bottom: 20px;
  right: 50px; }
  footer li {
    display: inline-block; }
    footer li img {
      width: 30px; }

.vdo-link {
  display: block;
  padding: 20px 0; }
  .vdo-link > * {
    display: inline-block;
    vertical-align: middle; }
