@import '_color.scss';
* {
    margin: 0;
    padding: 0;
    list-style: none;
    box-sizing: border-box;
}

@font-face {
    font-family: Arista Pro Alternate;
    src: url("../path/Zetafonts - AristaProAlternate-ExtraLight.otf") format("opentype");
}

@font-face {
    font-family: Arista Pro;
    src: url("../path/Zetafonts - AristaPro-Fat.otf") format("opentype");
}

body,
html {
    font-size: 16px;
    font-family: Arista Pro Alternate, '微軟正黑體';
    letter-spacing: 1px;
    color: #fff;
}

p {
    font-size: 1rem;
    line-height: 200%;
    color: #fff;
    font-weight: 400;
}

h2 {
    font-family: Arista Pro;
}

h3 {
    font-size: 1.2rem;
}

a {
    text-decoration: none;
    &:visited {
        color: #ddd;
    }
}

.mt-3 {
    margin-top: 1rem;
}
.my-3{
    margin-top:1rem;
    margin-bottom: 1rem;
}

.mb-1 {
    margin-bottom: .5rem;
}

.mb-3 {
    margin-bottom: 1rem;
}

.mb-5 {
    margin-bottom: 1.5rem;
}

.py {
    padding: 15px 0;
}
.py-3{
    padding:1rem 0; 
}
.py-5{
    padding: 1.5rem 0;
}
.pb-3 {
    padding-bottom: 1rem;
}
.py-big{
    @include range-width(769px,0){
        padding: 100px 0;
    }
    padding: 50px 0;
}
.border-bottom {
    border-bottom: 1px solid $gray;
}

.pd-head {
    padding-top: 150px;
    @media screen and (max-width: 768px) {
        padding-top: 80px;
    }
}
.d-sm-none{
    @media screen and (max-width: 768px) {
        display: none !important;
    }
}
.container {
    // max-width: 1170px;
    max-width: 960px;
    padding: 0 15px;
    margin: 0 auto;
}

.d-flex {
    display: flex;
    flex-wrap: wrap;
}

.box-shadow {
    box-shadow: 0px 0px 30px 0 rgba(0, 0, 0, .6);
}

%innerCenter {
    justify-content: center;
    align-items: center;
}

.img-fluid {
    width: 100%;
    height: auto;
    display: block;
}
.img-shadow{
    box-shadow: 10px 20px 30px rgba(black,.6);
}

.align-left {
    text-align: left;
}

.align-center {
    text-align: center;
    margin: 0 auto;
}

.islander-row {
    font-size: 0;
    letter-spacing: 0;
    &>* {
        vertical-align: top;
    }
    .islander-4 {
        display: inline-block;
        width: calc(100% / 3 - 60px / 3);
        &:nth-child(3n+2) {
            margin: 0 30px;
        }
        @media screen and (min-width:300px)and (max-width:768px) {
            width: 100%;
            &:nth-child(3n+2) {
                margin: 0;
            }
        }
    }
    .islander-6 {
        display: inline-block;
        width: calc(100% / 2 - 15px / 2);
        margin-bottom: 15px;
        &:nth-child(2n) {
            margin-left: 15px;
        }
        @media screen and (min-width:300px)and (max-width:768px) {
            width: 100%;
            &:nth-child(2n) {
                margin-left: 0;
            }
        }
    }
    .islander-3 {
        display: inline-block;
        width: calc(100% / 4 - (15px * 3)/ 4);
        margin-bottom: 15px;
        margin-right: 15px;
        &:nth-child(4n) {
            margin-right: 0;
        }
        @media screen and (min-width: 300px)and (max-width: 768px) {
            width: 100%;
            margin-right: 0;
        }
    }
    .islander-2{
         display: inline-block;
         width: calc(100% / 6 - (15px * 5 ) / 6);
         margin-bottom: 15px;
         margin-right: 15px;
         @media screen and (min-width: 300px)and (max-width: 768px) {
             width: 100%;
            margin-right: 0;
         }
    }
    .islander-9 {
        display: inline-block;
        width: calc((100% / 4 * 3) - 15px);
        margin-bottom: 15px;
        @media screen and (min-width: 300px)and (max-width: 768px) {
            width: 100%;
            margin-left: 0;
        }
    }
    .islander-5 {
        display: inline-block;
        width: calc(100% / 5 - 31px);
        margin: 0 15px;
        img {
            max-width: 80px;
            max-height: 80px;
            display: block;
            margin-bottom: 2rem;
        }
        @media screen and (min-width:300px)and (max-width:768px) {
            width: 100%;
            img {
                max-height: 100%;
            }
        }
    }
}

.hidden-sm {
    @media screen and (min-width: 769px) {
        display: none !important;
    }
}

.hidden-xs {
    @media screen and (min-width: 300px)and (max-width: 768px) {
        display: none !important;
    }
}

.justify-between {
    justify-content: space-between;
}

.justify-center {
    justify-content: center;
}

.align-item-center {
    align-items: center;
}

.btn {
    appearance: none;
    padding: 10px 20px;
    border: 0px;
    cursor: pointer;
    border-radius: 0;
}

.btn-red {
    background-color: $green;
    color: #fff;
    &:hover,
    &:active {
        background-color: darken($green, 5%);
    }
}

.btn-gray {
    background-color: $gray;
    color: #fff;
    &:hover,
    &:active {
        background-color: darken($gray, 5%);
    }
}



// 調一杯自己的咖啡
.flex-4{
    flex: 0 0 33%;
}
.flex-8{
    flex: 0 0 66%;
}
 .makecoffee{
   
     &>div>img{
         max-width: 60px;
         margin: -40px auto 1.5rem;
     }
     &>div{
         flex-direction: column;
         justify-content: center;
         text-align: center;
     }
       @include range-width(300px,768px){
         flex-direction: column;
         &>div>img{
              margin: 1.5rem auto;
         }
         .flex-8{
             margin: 1rem 0;
         }
     }
 }