@import '_color.scss';
.history-filter {
    h2 {
        color: $maincolor;
    }
    padding: 30px 0;
    &>* {
        display: inline-block;
    }
}

.history-form {
    margin-bottom: 100px;
    .form-group {
        border: 2px solid $maincolor;
        border-left: 1px solid $maincolor;
        border-right: 1px solid $maincolor;
        margin-bottom: 15px;
    }
    .title {
        background-color: $maincolor;
        flex-wrap: wrap;
        border-bottom: 1px solid $maincolor;
        p {
            color: #fff;
            display: inline-block;
        }
        .date {
            flex: 1;
        }
        .number {
            flex: 3;
        }
        .status {
            flex: 1;
        }
        @media screen and (max-width:768px) {
            &>div {
                flex: 0 0 100% !important;
                text-align: left !important;
                p {
                    padding: 10px;
                }
            }
        }
    }
    .content {
        border-right: 0px;
        border-left: 0px;
        .content-block {
            display: flex;
            flex-wrap: wrap;
            flex-direction: column;
            justify-content: center;
            flex: 1;
            border: 1px solid $maincolor;
            border-bottom: 0px;
            &.f3 {
                flex: 3;
            }
            &.f2 {
                flex: 2;
            }
            li {
                p {
                    padding: 0 15px;
                }
            }
        }
        .blockgroup {
            p {
                display: flex;
                height: 50%;
                align-items: center;
                border-bottom: 2px solid $maincolor;
                &:last-child {
                    border-bottom: 0;
                }
            }
            span {
                display: inline-block;
                min-width: 100px;
            }
        }
        @media screen and (max-width:768px) {
            flex-direction: column;
            &:first-child {
                text-align: center;
            }
        }
    }
    &>div p {
        padding: 15px;
    }
}

// 會員資訊
.member-block {
    min-height: calc(100vh - 110px - 127px - 99px);
    .input-groups {
        font-size: 0;
        letter-spacing: 0;
        &>div {
            display: inline-block;
            width: calc(100% / 2);
        }
    }
    .input-group {
        padding: 10px 0;
        direction: rtl;
        input {
            width: calc(100% - 40px);
            border: 0;
            font-size: 1rem;
            padding: 10px;
            border-bottom: 1px solid $lightgray;
            &::-webkit-input-placeholder {
                color: $lightgray;
            }
            &:focus {
                border-color: $maincolor;
                outline: 0;
                &::-webkit-input-placeholder {
                    color: $maincolor;
                }
            }
            direction: ltr;
        }
        svg {
            width: 30px;
            // margin: 0 5px;
            display: inline-block;
            vertical-align: middle;
            margin-right: 5px;
            // .cls-1 {
            //     fill: #f00
            // }
            // .cls-2 {
            //     fill: none;
            //     stroke: #f00;
            //     stroke-linecap: round;
            //     stroke-miterlimit: 10;
            //     stroke-width: 0.83px;
            // }
        }
        .select-group {
            direction: ltr;
            width: calc(100% - 40px);
            display: inline-block;
            select {
                appearance: none;
                display: inline-block;
                width: calc(100% / 3 - (10px / 2));
                background-color: #fff;
                border-radius: 0;
                padding: 10px;
                margin-right: 5px;
                cursor: pointer;
                font-size: 1rem;
                &:focus {
                    border-color: $maincolor;
                    outline: 0;
                }
                &:last-child {
                    margin: 0;
                }
            }
        }
    }
    .btn-groups {
        letter-spacing: 0;
        margin-top: 40px;
        .btn {
            font-size: 1rem;
            display: inline-block;
            width: calc(100% / 2 - 5px);
            &:last-child {
                margin-left: 10px;
            }
        }
    }
}