@import "_color.scss";
@import "_mixin.scss";

.history-form {
  margin: 50px 0 100px;
  .form-group {
    margin-bottom: 30px;
  }
  .title {
    flex-wrap: wrap;
    border-bottom: 1px solid $lightgray;
    & > div {
      flex: 1;
      text-align: center;
      &.f2 {
        flex: 2;
      }
    }
    @media screen and (max-width: 768px) {
      & > div {
        flex: 0 0 100% !important;
        text-align: left !important;
        p {
          padding: 10px;
        }
      }
    }
  }
  .content {
    border-right: 0px;
    border-left: 0px;
    display: none;

    @include range-width(300px,768px) {
      border-bottom: 1px solid $lightgray;
    }

    .content-block {
      display: flex;
      flex-wrap: wrap;
      flex-direction: column;
      justify-content: center;
      flex: 1;
      border-bottom: 1px solid $lightgray;
      @include range-width(300px, 768px) {
        border-bottom: 0px solid $lightgray;
        p {
            text-align: left;
            padding:5px 10px;
          &:before {
            content: attr(data-content);
            font-size: 1rem;
            
          }
        }
      }
      text-align: center;
      // border-bottom: 0px;
      &.f3 {
        flex: 3;
      }
      &.f2 {
        flex: 2;
      }
      li {
        p {
          padding: 0 15px;
        }
      }
    }
    .blockgroup {
      p {
        display: flex;
        height: 50%;
        align-items: center;

        &:last-child {
          border-bottom: 0;
        }
      }
      span {
        display: inline-block;
        min-width: 100px;
      }
    }
    @media screen and (max-width: 768px) {
      flex-direction: column;
      &:first-child {
        text-align: center;
      }
    }
  }
  & > div p {
    padding: 15px;
  }
}
.input-groups {
  font-size: 0;
  letter-spacing: 0;
    &>div.input-group {
    display: inline-block;
    width: calc((100% - 90px) / 2);
    input {
      width: calc(100%);
    }
    &:nth-child(3) {
      margin-left: 15px;
    }
  }
  svg {
    width: 30px; // margin: 0 5px;
    display: inline-block;
    vertical-align: middle;
    margin-right: 45px;
  }
}
// 會員資訊
.member-block {
  min-height: calc(100vh - 110px - 127px - 99px);

  .basic-form {
    max-width: 565px;
    margin: 0 auto;
    padding: 20px 0;
  }
  
  .input-group {
    padding: 10px 0;
    direction: rtl;
    letter-spacing: 0;
    font-size: 0;
    input {
      width: calc(100% - 75px);
      border: 0;
      font-size: 1rem;
      padding: 10px;
      border: 1px solid $lightgray;
      vertical-align: middle;
      &::-webkit-input-placeholder {
        color: $lightgray;
      }
      &:focus {
        border-color: $maincolor;
        outline: 0;
        &::-webkit-input-placeholder {
          color: $maincolor;
        }
      }
      direction: ltr;
    }
    svg {
      width: 30px;
      // margin: 0 5px;
      display: inline-block;
      vertical-align: middle;
      margin-right: 45px;
      // .cls-1 {
      //     fill: #f00
      // }
      // .cls-2 {
      //     fill: none;
      //     stroke: #f00;
      //     stroke-linecap: round;
      //     stroke-miterlimit: 10;
      //     stroke-width: 0.83px;
      // }
    }
    .select-group {
      direction: ltr;
      width: calc(100% - 75px);
      display: inline-block;
      vertical-align: top;
      .select-wrap{
        margin-bottom: 20px;
      }
      select {
        appearance: none;
        display: inline-block;
        // width: calc(100% / 2 - (15px / 2));
        width: 100%;
        background-color: #fff;
        border-radius: 0;
        padding: 10px;
        margin-right: 15px;
        // margin-bottom: 20px;

        cursor: pointer;
        font-size: 1rem;
        min-height: 44px;
        border-color: $lightgray;
        &:focus {
          border-color: $maincolor;
          outline: 0;
        }
        // &:last-child {
        //   margin: 0;
        // }
      }
    }
  }
  .btn-groups {
    letter-spacing: 0;
    margin-top: 40px;
    font-size: 0;
    .btn {
      font-size: 1rem;
      display: inline-block;
      width: calc((100% - 10px) / 2);
      &:last-child {
        margin-left: 10px;
      }
    }
  }
}
