            @import '_lightbox.scss';
            * {
                margin: 0;
                padding: 0;
                list-style: none;
                box-sizing: border-box;
            }
            
            @font-face {
                font-family: Arista Pro Alternate;
                src: url("../path/Zetafonts - AristaProAlternate-ExtraLight.otf") format("opentype");
            }
            
            @font-face {
                font-family: Arista Pro;
                src: url("../path/Zetafonts - AristaPro-Fat.otf") format("opentype");
            }
            
            body,
            html {
                font-size: 16px;
                font-family: Arista Pro Alternate, '微軟正黑體';
                letter-spacing: 1px;
                color: #fff;
                text-shadow: 0px 0px 1px rgba(#000, .3);
            }
            
            #wrap {
                position: relative;
                height: 100vh;
                overflow: hidden;
                @media screen and (max-width: 768px) {
                    overflow: auto;
                }
                &.inner-page {
                    height: auto;
                }
                &.active {
                    width: 100%;
                    height: 100%;
                    overflow: auto;
                }
            }
            
            p {
                font-size: 1rem;
                line-height: 200%;
                color: #fff;
                font-weight: 100;
            }
            
            h2 {
                font-family: Arista Pro;
            }
            
            h3 {
                color: #fff;
                font-size: 1.2rem;
            }
            
            a {
                color: #fff;
                text-decoration: none;
                &:visited {
                    color: #ddd;
                }
            }
            
            .mt-3 {
                margin-top: 1rem;
            }
            
            .mb-1 {
                margin-bottom: .5rem;
            }
            
            .mb-3 {
                margin-bottom: 1rem;
            }
            
            .mb-5 {
                margin-bottom: 1.5rem;
            }
            
            .pb-3 {
                padding-bottom: 1rem;
            }
            
            .pd-head {
                padding-top: 150px;
                @media screen and (max-width: 768px) {
                    padding-top: 80px;
                }
            }
            
            .container {
                max-width: 1170px;
                padding: 0 15px;
                margin: 0 auto;
            }
            
            .d-flex {
                display: flex;
                flex-wrap: wrap;
            }
            
            .box-shadow {
                box-shadow: 0px 0px 30px 0 rgba(0, 0, 0, .6);
            }
            
            %innerCenter {
                justify-content: center;
                align-items: center;
            }
            
            .img-fluid {
                width: 100%;
                height: auto;
                display: block;
            }
            
            .align-left {
                text-align: left;
            }
            
            .align-center {
                text-align: center;
                margin: 0 auto;
            }
            
            .islander-row {
                font-size: 0;
                &>* {
                    vertical-align: top;
                }
                .islander-4 {
                    display: inline-block;
                    width: calc(100% / 3 - 60px);
                    &:nth-child(2n) {
                        margin: 0 30px;
                    }
                }
                .islander-6 {
                    display: inline-block;
                    width: calc(100% / 2 - 15px);
                    margin-bottom: 15px;
                    &:nth-child(2n) {
                        margin-left: 15px;
                    }
                    @media screen and (min-width:300px)and (max-width:768px) {
                        width: 100%;
                        &:nth-child(2n) {
                            margin-left: 0;
                        }
                    }
                }
                .islander-5 {
                    display: inline-block;
                    width: calc(100% / 5 - 31px);
                    margin: 0 15px;
                    img {
                        max-width: 80px;
                        max-height: 80px;
                        display: block;
                        margin-bottom: 2rem;
                    }
                    @media screen and (min-width:300px)and (max-width:768px) {
                        width: 100%;
                        img {
                            max-height: 100%;
                        }
                    }
                }
            }
            
            .hidden-sm {
                @media screen and (min-width: 769px) {
                    display: none !important;
                }
            }
            
            .hidden-xs {
                @media screen and (min-width: 300px)and (max-width: 768px) {
                    display: none !important;
                }
            }
            
            header {
                background: #fff;
                // background-size: cover;
                padding: 20px 20px 0;
                position: fixed;
                top: 0;
                left: 0;
                width: 100%;
                z-index: 100;
                @media screen and (min-width: 300px)and (max-width: 768px) {
                    padding: 10px 20px;
                }
                .img-navbg {
                    position: absolute;
                    top: 60px;
                    left: 0;
                    width: 100%;
                    z-index: 1;
                }
                nav {
                    .toggle-buttom {
                        // text-align: right;
                        margin-left: calc(100% - 82px);
                    }
                    li {
                        position: relative;
                        &.active {
                            &:before {
                                content: '';
                                display: inline-block;
                                position: absolute;
                                top: 5px;
                                left: -20px;
                                width: 1rem;
                                height: 1rem;
                                background: url('../img/coffeeIcon1.svg');
                                background-repeat: no-repeat;
                            }
                        }
                    }
                }
                ul {
                    justify-content: space-between;
                    align-items: center;
                    position: relative;
                    z-index: 2;
                    &.toggle-menu {
                        @media screen and (min-width: 300px) and (max-width: 768px) {
                            flex-direction: column;
                            display: none;
                            li {
                                padding: 10px 0;
                                text-align: center;
                            }
                        }
                    }
                    li {
                        margin: 0 30px;
                        color: #000;
                        &:first-child {
                            margin-right: auto;
                            @media screen and (min-width: 300px) and (max-width: 768px) {
                                margin: 0 auto;
                            }
                        }
                        font-size: 20px;
                        a {
                            color: #000;
                            text-decoration: none;
                            &:visited {
                                color: #000;
                            }
                        }
                    }
                }
            }
            
            .phone-menu {
                &>div {
                    display: inline-block;
                    vertical-align: middle;
                }
            }
            
            .full-page {
                position: absolute;
                top: 0;
                left: 0;
                height: 600vh;
                width: 100%;
                overflow: hidden;
                transition: transform 1s ease;
            }
            
            .section {
                width: 100%;
                background-size: cover;
                background-position: 50% 50%;
                transform: translateZ(0);
                height: 100%;
                min-height: 100vh;
                @extend %innerCenter;
                &>* {
                    text-align: center;
                }
                &>div {
                    text-align: center;
                    h2 {
                        font-weight: bold;
                    }
                    .more {
                        img {
                            margin-top: 20vh;
                            width: 150px;
                        }
                    }
                }
            }
            
            .section-scroll {
                height: calc(100% / 6);
            }
            
            .section1 {
                position: relative;
                z-index: -1;
                @media screen and (min-width: 300px)and (max-width: 768px) {
                    background: url('../img/section1.png');
                }
                .logo {
                    position: absolute;
                    top: 50%;
                    left: 50%;
                    transform: translate3d(-50%, -50%, 0);
                    img {
                        width: 100%;
                        max-width: 300px;
                    }
                }
                .iframe-wrapper {
                    position: fixed;
                    // position: absolute;
                    right: 0;
                    bottom: 0;
                    min-width: 100%;
                    min-height: 100%;
                    width: auto;
                    height: auto;
                    z-index: -100;
                    display: block;
                    .video-foreground {
                        position: absolute;
                        top: 0;
                        left: -25%;
                        width: 150%;
                        height: 100%;
                        // padding-bottom: 56.9%;
                        &:before {
                            content: '';
                            width: 100%;
                            height: 100%;
                            background-color: rgba(0, 0, 0, 0.3);
                            display: block;
                            position: absolute;
                            top: 0;
                            left: 0;
                            z-index: 99;
                        }
                    }
                    iframe {
                        position: absolute;
                        width: 100%;
                        height: 100%;
                        top: 0;
                        left: 0;
                        pointer-events: none;
                    }
                }
                .scorll-down {
                    position: absolute;
                    bottom: 45px;
                    left: 50%;
                    transform: translateX(-50%);
                    &>* {
                        display: inline-block;
                        vertical-align: middle;
                    }
                    h3 {
                        transform: translateY(-4px);
                    }
                }
            }
            
            .section2 {
                z-index: 2;
                @extend %innerCenter;
                .more {
                    img {
                        width: 150px;
                    }
                }
            }
            
            .section3 {
                z-index: 3;
                @extend %innerCenter;
            }
            
            .section4 {
                z-index: 4;
                @extend %innerCenter;
                .contact-form {
                    padding: 20px 0;
                    text-align: center;
                    font-family: sans-serif;
                    width: 100%;
                    max-width: 460px;
                    h2 {
                        font-weight: bold;
                    }
                }
                form {
                    .form-group {
                        margin: 15px 0;
                        font-size: 0;
                        transform: translateX(-80px);
                        &>* {
                            display: inline-block;
                            vertical-align: middle;
                        }
                        label {
                            width: 150px;
                            text-align: left;
                            font-size: 1rem;
                        }
                        input,
                        textarea {
                            width: calc(100% - 160px);
                            appearance: none;
                            background: rgba(#fff, .5);
                            border: 2px solid #fff;
                            border-radius: 1rem;
                            font-size: 1rem;
                            padding: 5px 20px;
                            color: rgb(63, 63, 63);
                        }
                    }
                    button {
                        margin-top: 30px;
                        appearance: none;
                        border: 2px solid #fff;
                        background-color: transparent;
                        color: #fff;
                        padding: 0px 15px;
                        font-size: 1rem;
                        border-radius: 2rem;
                        pointer-events: cursor;
                        &:hover,
                        &:active {
                            background-color: #fff;
                            color: #ccc;
                            pointer-events: cursor;
                        }
                    }
                }
            }
            
            #scrollbar {
                position: fixed;
                right: 50px;
                top: 20%;
                height: 60%;
                width: 2px;
                background-color: #fff;
                display: none;
                .dot {
                    $dotwidth: 20px;
                    position: absolute;
                    left: -9px;
                    border: transparent solid 1px;
                    width: $dotwidth;
                    height: $dotwidth;
                    background: rgba(#fff, .5);
                    border-radius: 50%;
                    transform: scale(0.8);
                    transition: .5s;
                    &:before {
                        content: '';
                        display: block;
                        width: $dotwidth / 2;
                        height: $dotwidth / 2;
                        background: #fff;
                        position: absolute;
                        left: ( ($dotwidth + 2px) - ($dotwidth / 2)) / 3;
                        top: ( ($dotwidth + 2px) - ($dotwidth / 2)) / 3;
                        border-radius: 50%;
                    }
                    &:after {
                        content: ' ';
                        display: block;
                        position: absolute;
                        right: 30px;
                        top: -10px;
                        opacity: 0;
                        transition: .5s;
                    }
                    &.active {
                        border: #fff solid 1px;
                        transform: scale(1);
                    }
                }
                .dot1 {
                    top: 30%;
                    &.active {
                        &:after {
                            content: 'Islander';
                            opacity: 1;
                        }
                    }
                }
                .dot2 {
                    top: calc(30% + 60px);
                    &.active {
                        &:after {
                            content: 'Story';
                            opacity: 1;
                        }
                    }
                }
                .dot3 {
                    top: calc(30% + 120px);
                    &.active {
                        &:after {
                            content: 'Coffee Academy';
                            opacity: 1;
                        }
                    }
                }
                .dot4 {
                    top: calc(30% + 180px);
                    &.active {
                        &:after {
                            content: 'Shop';
                            opacity: 1;
                        }
                    }
                }
                .dot5 {
                    top: calc(30% + 240px);
                    &.active {
                        &:after {
                            content: 'Contact';
                            opacity: 1;
                        }
                    }
                }
                // .dot6 {
                //     top: calc(20% + 300px);
                //     &.active {
                //         &:after {
                //             content: 'Contact';
                //             opacity: 1;
                //         }
                //     }
                // }
            }
            
            footer {
                position: fixed;
                bottom: 20px;
                right: 50px;
                li {
                    display: inline-block;
                    img {
                        width: 30px;
                    }
                }
            }
            
            // 內頁
            .vdo-link {
                display: block;
                padding: 20px 0;
                &>* {
                    display: inline-block;
                    vertical-align: middle;
                }
            }